{{- if has "fzf" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs fzf, a command-line fuzzy finder.

pkgCreator=junegunn
pkg=fzf

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-${version#v}-linux_amd64.tar.gz" \
  | tar -xzC .

{{ template "install_main.tmpl" . }}

{{ end -}}
