{{- if or (hasKey .scripts "flatpak") (hasKey .scripts "flatpak-fix-dark-theme") -}}
#!/usr/bin/env bash

{{ template "bash_helpers.tmpl" . }}

{{- if hasKey .scripts "flatpak" }}
# This script installs Flatpak, a software utility for software deployment,
# application virtualization, and package management.
#
# NOTE: it has a better performance than snap, and it is more flexible.

pkg=flatpak

{{ template "bash_install_pkg.tmpl" . }}

if is_installed gnome-software; then
  echo "⚙️ GNOME Software is installed. Configuring it to support Flatpak applications."
  install_pkg gnome-software-plugin-flatpak
fi

echo "⚙️ Configuring flathub"
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

{{- end -}}

{{- if hasKey .scripts "flatpak-fix-dark-theme" }}
############################## Flatpak fix themes for GNOME
echo "🐛 Fixing mixed theming issue for Flatpak themes in GNOME"
# with this, all applications will use the Adwaita dark theme.
#
# See https://gist.github.com/ppcamp/8646e69eddb9293cff732aa0c820f64a
#
# Fixes:
# - dbeaver issue
# - insomnia issue
# - libreoffice issue
flatpak override --user --env=GTK_THEME=Adwaita:dark

# sudo apt autopurge -y flatpak
{{ end -}}

echo -e "   \e[32m💡 Tip:\e[0m Install 'Flatseal' to control perm 'flatpak install com.github.tchx84.Flatseal.flatpakref'"

{{ end -}}
