{{- if has "fd" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs fd, a simple, fast and user-friendly alternative to 'find'.

pkgCreator=sharkdp
pkg=fd

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-$version-x86_64-unknown-linux-musl.tar.gz" \
  | tar -xzC . --transform='s|.*/||'

{{ template "install_main.tmpl" . }}

{{ end -}}
