{{- if has "kitty" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs the latest version of kitty from the official GitHub
# releases.

pkgCreator=kovidgoyal
pkg=kitty
folder=$HOME/.local # /opt/kitty

{{ template "github_setup.tmpl" . }}

# install kitty to $HOME/.local/

mkdir -p $folder

# Download and install nvim directly to $folder
getGithubFileStdin "$pkg-${version#v}-x86_64.txz" > $tmp/kitty.txz

# We need to do this way, because the `tar` command does not support gzip stdin
# extract the downloaded file
tar xf $tmp/kitty.txz -C $folder

################################################################################
# Create a symlink to the nvim binary in /usr/local/bin
# No needed anymore, because we are using $HOME/.local
# sudo ln -sf $folder/bin/kitty /usr/local/bin/kitty
# sudo ln -sf $folder/bin/kitten /usr/local/bin/kitten


################################################################################
# Create desktop entry
#   ideally, we would use `chmod +x
#     $HOME/.local/share/applications/kitty.desktop`, but
#   for some reason, ubuntu does not understand this.
#
# Since we are using $HOME/.local, we don't need to install it
# desktop-file-install "$folder/share/applications/kitty.desktop"
# desktop-file-install "$folder/share/applications/kitty-open.desktop"

# configure the entry, to match this new app path
#   (to keep the application isolated as possible from `env`)
desktop-file-edit \
  --set-key Icon \
  --set-value "$folder/share/icons/hicolor/scalable/apps/kitty.svg" \
  $folder/share/applications/kitty.desktop

desktop-file-edit \
  --set-key Icon \
  --set-value "$folder/share/icons/hicolor/scalable/apps/kitty.svg" \
  $folder/share/applications/kitty-open.desktop


# sudo desktop-file-edit \
#  --set-key Exec \
#  --set-value "/usr/bin/env kitty %F" \
#  /usr/share/applications/kitty.desktop

# sudo desktop-file-edit \
#  --set-key TryExec \
#  --set-value "/usr/bin/env kitty" \
#  /usr/share/applications/kitty.desktop
#

################################################################################
# update entries
update-desktop-database

# sudo update-desktop-database ~/.local/share/applications
# sudo desktop-file-validate $HOME/.local/share/applications/kitty.desktop

{{ end -}}
