{{- if hasKey .scripts "bsdtar" -}}
#!/usr/bin/env bash
# vim: ts=2 sts=2 sw=2 et

{{ template "bash_helpers.tmpl" . }}

# This script installs bsdtar, a tar implementation that supports more formats
# than "GNU tar" (default tar), including xz and lzma compression.

pkg=bsdtar

{{- if eq .chezmoi.osRelease.id "debian" }}
	binName=libarchive-tools
{{ end -}}

{{ template "bash_install_pkg.tmpl" . }}

{{ end -}}
