{{- if has "jless" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

pkgCreator=PaulJuliusMartinez
pkg=jless

{{ template "github_setup.tmpl" . }}

# downloading package
filename=$pkg-${version}-x86_64-unknown-linux-gnu.zip
getfile "https://github.com/$pkgCreator/$pkg/releases/latest/download/$filename"

unzip $filename &>/dev/null

{{ template "install_home.tmpl" . }}

{{ end -}}
