{{- if hasKey .scripts "bat" -}}
#!/usr/bin/env bash

# This script installs bat, a cat clone with syntax highlighting and Git
# integration.

pkgCreator=sharkdp
pkg=bat
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting latest version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - "https://github.com/$pkgCreator/$pkg/releases/latest/download/$pkg-${version}-x86_64-unknown-linux-musl.tar.gz" |
  tar -xzC . --transform='s|.*/||'

# installing it
sudo install -m 755 $pkg {{ .installDirs.main }}

# sudo rm -rf {{ joinPath .installDirs.main "$pkg" }}

{{ end -}}
