{{- if has "lazyworktree" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs lazyworktrees

pkgCreator=chmouel
pkg=lazyworktree

{{ template "github_setup.tmpl" . }}

# downloading package
getGithubFileStdin "${pkg}_Linux_x86_64.tar.gz" \
  | tar -xzC .

{{ template "install_home.tmpl" . }}

{{ end -}}
