{{- if hasKey .scripts "zsh" -}}
#!/usr/bin/env bash

pkg=zsh

version=$(apt-cache policy $pkg | grep Candidate | awk '{print $2}')
if [ -z "$version" ]; then
  echo "❌ $pkg is not available in the apt repository."
  exit 0 # exit early with success status to keep chezmoi idempotent
fi

echo "🚀 Installing $pkg $version directly from apt"
sudo apt install -qq -y zsh

# TODO: add new choice to set as default
echo "⚙️ Setting zsh as default shell"
chsh -s $(which zsh)

{{ end -}}
