{{- if hasKey .scripts "debug-tools" -}}
#!/usr/bin/env bash


# Install usefull debugging tools for debian

pkg=(
  #"lbzip2"  # required for bzip2 compression/decompression (required by tar)
  "make"     # usually required for many tool
  "cmake"    # required for asdf and other tool
  "g++"      # required by asdf and some building tools
  "gcc"      # c++ compiler required for asdf
  "binutils" # includes objdump, readelf, nm, etc.
  "gdb"      # for debugging.
  "strace"   # for system calls.
  "lsof"     # for open file descriptors.
  "file"     # inspeact the type of the file
)

for i in "${!pkg[@]}"; do
  version=$(apt-cache policy $pkg | grep Candidate | awk '{print $2}')

  if [ -z "$version" ]; then
    echo "❌ $pkg is not available in the apt repository."
    continue # exit early with success status to keep chezmoi idempotent
  fi

  echo "🚀 Installing common tools from apt: ${pkg[i]} $version"
  sudo apt install -qq -y "${pkg[i]}" >/dev/null 2>&1

done

{{ end -}}
