{{- if has "distrobox" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# Equivalent of toolbox command, but allows to run in any distro with any
# container engine (podman, docker, etc.)
binName=distrobox

curl -sL https://raw.githubusercontent.com/89luca89/distrobox/main/install | sh -s -- --prefix "{{ .installDirs.local }}" &>/dev/null

echo "🚀 Installing: $binName"

# Detect container engine (prefer docker)
if command -v docker &> /dev/null; then
  engine="docker"
elif command -v podman &> /dev/null; then
  engine="podman"
else
  error "Neither docker nor podman is installed"
  exit 1
fi

imageName=devtools
tip "Building $imageName image..."
$engine build -t $imageName:latest -f "{{ .chezmoi.sourceDir }}/tools/Containerfile" "{{ .chezmoi.sourceDir }}" &>/dev/null

tip "Creating distrobox container from $imageName image..."
distrobox stop $imageName -Y &>/dev/null
distrobox rm $imageName -Y &>/dev/null

distrobox-create -n $imageName -i $imageName:latest --yes --additional-flags "--env TERM=xterm-256color" --nvidia

tip "TERM is automatically set to xterm-256color in {{.chezmoi.homeDir }}/.config/distrobox/distrobox.conf file."

{{ end -}}
