{{- if hasKey .scripts "sqlfluff" -}}
#!/usr/bin/env bash

{{ template "bash_helpers.tmpl" . }}

# SQL linter and formatter
# https://github.com/sqlfluff/sqlfluff/tree/main

pkg=sqlfluff

version=$(get_version $pkg)
if [[ -z $version ]]; then
    pipx install $pkg
else
    {{ template "bash_install_pkg.tmpl" . }}
fi

{{ end -}}
