{{- if or (hasKey .scripts "xcp") (hasKey .scripts "xpb") -}}
#!/usr/bin/env bash

{{-   if hasKey .scripts "xcp" }}

echo "🚀 Installing xcp to shell"
{{ $xcp := joinPath .chezmoi.sourceDir "tools" "scripts" "xcp" | quote -}}

# copy with permission
sudo cp -p {{ $xcp }} {{ .installDirs.main }}

# or use the system utils to set proper permissions/groups for this folder
# install -m 755 ./my_program {{ .installDirs.main }}

{{-   end -}}

{{-   if hasKey .scripts "xpb" }}

echo "🚀 Installing xpb to shell"
{{ $xpb := joinPath .chezmoi.sourceDir "tools" "scripts" "xpb" | quote -}}

# copy with permission
sudo cp -p {{ $xpb }} {{ .installDirs.main }}

# or use the system utils to set proper permissions/groups for this folder
# install -m 755 ./my_program {{ .installDirs.main }}

{{-    end -}}

{{- end -}}