{{- if has "toolbx" .scripts -}}
#!/usr/bin/env bash

{{ template "bash_helpers.tmpl" . }}

# Toolbx is a tool for Linux, which allows the use of interactive command line
# environments for software development and troubleshooting the host operating
# system, without having to install software on the host. It is built on top of
# Podman and other standard container technologies from OCI.
#
# See https://containertoolbx.org/

pkg=toolbox

{{ template "bash_install_pkg.tmpl" . }}

{{ end -}}
