{{- if hasKey .scripts "fd" -}}
#!/usr/bin/env bash

# This script installs fd, a simple, fast and user-friendly alternative to
# 'find'.

pkgCreator=sharkdp
pkg=fd
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

f="$ZEN/internal/completions/"

# getting latest version of fd
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-$version-x86_64-unknown-linux-musl.tar.gz |
  tar -xzC . --transform='s|.*/||'

# installing it
sudo install -m 755 $pkg {{ .installDirs.main }}

# rm {{ joinPath .installDirs.main "$pkg" }}

{{ end -}}
