{{- if hasKey .scripts "sqlfluff" -}}
#!/usr/bin/env bash

pkg=sqlfluff

# SQL linter and formatter
# https://github.com/sqlfluff/sqlfluff/tree/main

version=$(apt-cache policy $pkg | grep Candidate | awk '{print $2}')
if [ -z "$version" ]; then
  echo "❌ $pkg is not available in the apt repository."
  exit 0 # exit early with success status to keep chezmoi idempotent
fi

echo "🚀 Installing ${pkg} version ${version} directly from apt"

sudo apt install -qq -y ${pkg} >/dev/null 2>&1
# sudo apt autopurge -y ${pkg}

{{ end -}}
