{{- if hasKey .scripts "gum" -}}
#!/usr/bin/env bash

pkgCreator=charmbracelet
pkg=gum
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting latest version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}_${version#v}_Linux_x86_64.tar.gz" |
   tar -xzC . --strip-components=1 # --transform='s|eza|ls|'

# installing it
install -m 755 $pkg {{ .installDirs.home }}

# rm {{ joinPath .installDirs.home "$pkg" }}

{{ end -}}