{{- if has "fastfetch" .scripts -}}
#!/usr/bin/env bash

pkgCreator=fastfetch-cli
pkg=fastfetch
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting latest version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

# getting version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-linux-amd64.tar.gz |
  tar -xzC .

# installing it
cp -rT ./fastfetch-linux-amd64/usr {{ joinPath .chezmoi.homeDir ".local" }}

{{ end -}}
