{{- if hasKey .scripts "debug-tools" -}}
#!/usr/bin/env bash


# Install usefull debugging tools for debian

pkg=(
  #"lbzip2"   # required for bzip2 compression/decompression (required by tar)
  "make"     # usually required for many tool
  "cmake"    # required for asdf and other tool
  "g++"      # required by asdf and some building tools
  "gcc"      # c++ compiler required for asdf
  "binutils" # includes objdump, readelf, nm, etc.
  "gdb"      # for debugging.
  "strace"   # for system calls.
  "lsof"     # for open file descriptors.
  "file"     # inspeact the type of the file
)

echo "🚀 Installed debugging tools from apt: ${pkg[*]}"

sudo apt install -qq -y "${pkg[@]}" >/dev/null 2>&1

{{ end -}}