{{- if hasKey .scripts "shfmt" -}}
#!/usr/bin/env bash

# getting latest version
version=$(curl -s https://api.github.com/repos/mvdan/sh/releases/latest | jq -r .tag_name)

echo "🚀 Installing shfmt $version"

sudo curl -sLo {{ joinPath .installDirs.home "shfmt" }} https://github.com/mvdan/sh/releases/latest/download/shfmt_${version}_linux_amd64

sudo chmod +x {{ joinPath .installDirs.home "shfmt" }}

{{ end -}}