{{- if has "podman" .scripts -}}
#!/usr/bin/env bash

{{ template "bash_helpers.tmpl" . }}

pkg=podman


{{ template "bash_install_pkg.tmpl" . }}

# TODO: add new choice to install flatpah UI
echo -e "   \e[32m💡 Tip:\e[0m Install io.podman_desktop.PodmanDesktop to enable podman daemon and interface"
# https://flathub.org/pt-BR/apps/io.podman_desktop.PodmanDesktop
# https://podman-desktop.io/

{{ end -}}
