{{- if has "rsync" .scripts -}}
#!/usr/bin/env bash
# vim: ts=2 sts=2 sw=2 et

{{ template "bash_helpers.tmpl" . }}

# This script installs rsync, a secure and improved copy manager

pkg=rsync

{{ template "bash_install_pkg.tmpl" . }}

{{ end -}}
