{{- if has "gum" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs gum, a tool for creating interactive command-line applications.

pkgCreator=charmbracelet
pkg=gum

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}_${version#v}_Linux_x86_64.tar.gz" \
  | tar -xzC . --strip-components=1

{{ template "install_home.tmpl" . }}

{{ end -}}
