{{- if has "micro" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# Install micro, a modern text editor with on-demand file reading.

pkgCreator=micro-editor
pkg=micro

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-${version#v}-linux64.tar.gz" \
  | tar -xzC . --transform='s|.*/||'

{{ template "install_home.tmpl" . }}

{{ end -}}
