{{- if hasKey .scripts "sqlfluff" -}}
#!/usr/bin/env bash

# SQL linter and formatter
# https://github.com/sqlfluff/sqlfluff/tree/main

version=$(apt-cache policy sqlfluff | grep Candidate | awk '{print $2}')
if [ -z "$version" ]; then
  echo "     ❌ sqlfluff is not available in the apt repository."
  printf "   \033[32m💡 Tip:\033[0m Install it using 'pipx install sqlfluff'\n"

  exit 0 # exit early with success status to keep chezmoi idempotent
fi

echo "🚀 Installing sqlfluff version ${version} directly from apt"

sudo apt install -qq -y sqlfluff >/dev/null 2>&1
# sudo apt autopurge -y sqlfluff

{{ end -}}
