#!/usr/bin/env bash
# vim: ts=2 sts=2 sw=2 et

{{ template "bash_helpers.tmpl" . }}

# This script is run once at the start of the container to initialize the environment.
# https://www.chezmoi.io/user-guide/machines/linux/#combine-operating-system-and-linux-distribution-conditionals

pkgs=(
	jq                 # JSON processor (required by most of these scripts in chezmoi)
	curl               # Command line tool for transferring data with URLs
	git                # Version control system
	make               # Build automation tool
	desktop-file-utils # Utilities for handling desktop entry files
)

# Install required common tools
{{- if eq .configs.os "deb" }}
	pkgs+=(vim) # Text editor with advanced features (also includes vimdiff)

{{- else if eq .configs.os "dnf" }}
	printf "\e[33m⚠️ Warn:\e[0m Dnf package may take more time to run."
	echo -e "\n"

	pkgs+=(vim-enhanced) # Text editor with advanced features (also includes vimdiff)
{{- end }}


update_package_list

{{ template "bash_install_pkgs_loop.tmpl" . }}
