{{- if has "just" .scripts -}}
#!/usr/bin/env bash

# This script installs just, a command-line tool for running commands defined
# in a `justfile`, which is a simple way to define and run tasks.

pkgCreator=casey
pkg=just
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting latest version
version=$(curl -s https://api.github.com/repos/$pkgCreator/${pkg}/releases/latest | jq -r .tag_name)

echo "🚀 Installing ${pkg} $version"

# downloading package
curl -sLo - https://github.com/$pkgCreator/${pkg}/releases/latest/download/${pkg}-${version#v}-x86_64-unknown-linux-musl.tar.gz |
  tar -xzC .

# installing it
install -m 755 $pkg {{ .installDirs.home }}

# rm {{ joinPath .installDirs.home "$pkg" }}

{{ end -}}
