{{- if or (hasKey .scripts "flatpak") (hasKey .scripts "flatpak-fix-dark-theme") -}}
#!/usr/bin/env bash

{{- if hasKey .scripts "flatpak" }}
version=$(apt search flatpak --version)

############################## Flatpak installation
echo "🚀 Installing flatpak version ${version} directly from apt"
sudo apt install -qq -y flatpak >/dev/null 2>&1

############################## Gnome Software plugin for Flatpak
if apt list --installed gnome-software | grep -q gnome-software; then
  echo "⚙️ GNOME Software is installed. Configuring it to support Flatpak applications."
  sudo apt install -qq -y gnome-software-plugin-flatpak >/dev/null 2>&1
fi

############################## Flathub repository
echo "⚙️ Configuring flathub"
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

{{- end -}}

{{- if hasKey .scripts "flatpak-fix-dark-theme" }}
############################## Flatpak fix themes for GNOME
echo "🐛 Fixing mixed theming issue for Flatpak themes in GNOME"
# with this, all applications will use the Adwaita dark theme.
#
# See https://gist.github.com/ppcamp/8646e69eddb9293cff732aa0c820f64a
#
# Fixes:
# - dbeaver issue
# - insomnia issue
# - libreoffice issue
flatpak override --user --env=GTK_THEME=Adwaita:dark

# sudo apt autopurge -y flatpak
{{ end -}}

{{ end -}}