{{- if has "procs" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs procs, a modern replacement for ps.

pkgCreator=dalance
pkg=procs

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-$version-x86_64-linux.zip" \
  | bsdtar -xC .

{{ template "install_home.tmpl" . }}

{{ end -}}
