{{- if or (hasKey .scripts "xcp") (hasKey .scripts "xpb") -}}
#!/usr/bin/env bash

{{-   if hasKey .scripts "xcp" }}

echo "🚀 Installing xcp to shell"
{{ $xcp := joinPath .chezmoi.sourceDir "tools" "scripts" "xcp" | quote -}}

# copy with permission
# sudo cp -p {{ $xcp }} {{ .installDirs.main }}

# installing it
sudo install -m 755 {{ $xcp }} {{ .installDirs.main }}

# rm {{ joinPath .installDirs.main $xcp }}

{{-   end -}}

{{-   if hasKey .scripts "xpb" }}

echo "🚀 Installing xpb to shell"
{{ $xpb := joinPath .chezmoi.sourceDir "tools" "scripts" "xpb" | quote -}}

# copy with permission
sudo cp -p {{ $xpb }} {{ .installDirs.main }}

# installing it
sudo install -m 755 {{ $xpb }} {{ .installDirs.main }}

# rm {{ joinPath .installDirs.main $xpb }}

{{-    end -}}

{{- end -}}