{{- if hasKey .scripts "eza" -}}
#!/usr/bin/env bash

pkgCreator=eza-community
pkg=eza
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}_x86_64-unknown-linux-musl.tar.gz |
  tar -xzC . # --transform='s|$pkg|ls|'

# installing it
install -m 755 $pkg {{ .installDirs.home }}

# rm {{ joinPath .installDirs.home "$pkg" }}

# echo 'alias ls="$pkg --color=auto --git --icons"' >> $ZSH_CUSTOM/aliases.zsh

# eza comes with improved permission viewing, (With human and octal permissions)
# it also comes with colouring by default and allow to show a "tree view" of directories

{{ end -}}