{{- if has "procs" .scripts -}}
#!/usr/bin/env bash

pkgCreator=dalance
pkg=procs
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting latest version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-$version-x86_64-linux.zip |
  bsdtar -xC . # --transform='s|eza|ls|'

# or use the system utils to set proper permissions/groups for this folder
install -m 755 $pkg {{ .installDirs.home }}

# rm {{ joinPath .installDirs.home "$pkg" }}

{{ end -}}
