{{- if has "lazydocker" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs lazydocker

pkgCreator=jesseduffield
pkg=lazydocker

{{ template "github_setup.tmpl" . }}

# downloading package
getGithubFileStdin "${pkg}_${version#v}_Linux_x86_64.tar.gz" \
  | tar -xzC .

{{ template "install_home.tmpl" . }}

{{ end -}}
