{{- if has "diffstatic" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# Install difftastic, a syntax-aware diff tool.

pkgCreator=Wilfred
pkg=difftastic
binName=difft

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/$binName-x86_64-unknown-linux-musl.tar.gz" \
  | tar -xzC .

{{ template "install_main.tmpl" . }}

{{ end -}}
