{{- if has "fastfetch" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs fastfetch, a fast system information fetcher.

pkgCreator=fastfetch-cli
pkg=fastfetch

{{ template "github_setup.tmpl" . }}

# downloading package
getFileToStdin "https://github.com/$pkgCreator/$pkg/releases/latest/download/${pkg}-linux-amd64.tar.gz" \
  | tar -xzC .

cp -rT "./fastfetch-linux-amd64/usr" {{ joinPath .chezmoi.homeDir ".local" }}

{{ end -}}
