{{- if has "shfmt" .scripts -}}
#!/usr/bin/env bash

{{ template "helpers.tmpl" . }}

# This script installs shfmt, a shell script formatter.

pkgCreator=mvdan
pkg=sh
binName=shfmt

{{ template "github_setup.tmpl" . }}

# downloading package (single binary)
curl -sL "https://github.com/$pkgCreator/$pkg/releases/latest/download/${binName}_${version}_linux_amd64" -o "$binName"

{{ template "install_main.tmpl" . }}

{{ end -}}
