#!/bin/bash

# Can use templates

echo "🚀 Installing gitx script"

{{ $gitx := joinPath .chezmoi.sourceDir "tools" "scripts" "gitx" | quote }}

# copy with permission
sudo cp -p {{ $gitx }} /usr/local/bin