{{- if hasKey .scripts "asdf" -}}
#!/usr/bin/env bash

# This script installs asdf-vm, a version manager for multiple languages.

pkgCreator=asdf-vm
pkg=asdf
tmp=$(mktemp -d)

# openning tmp folder
cd $tmp

# getting version
version=$(curl -s https://api.github.com/repos/$pkgCreator/$pkg/releases/latest | jq -r .tag_name)

echo "🚀 Installing $pkg $version"

# downloading package
curl -sLo - https://github.com/$pkgCreator/$pkg/releases/download/${version}/$pkg-${version}-linux-amd64.tar.gz |
  sudo tar -xzC . --transform='s|.*/||'

# installing it
sudo install -m 755 $pkg {{ .installDirs.main }}

printf "   \033[33m🛠️ Warn:\033[0m For asdf, you need to install your plugins first, to then, use \$(asdf install).\n"
printf "   \t\033[2;37mCheck your '~/.tool-versions' file.\033[0m\n"

# sudo rm {{ joinPath .installDirs.main "$pkg" }}

{{ end -}}
