{{- if hasKey .scripts "podman" -}}
#!/usr/bin/env bash

pkg="podman"

version=$(apt-cache policy $pkg | grep Candidate | awk '{print $2}')
if [ -z "$version" ]; then
  echo "❌ $pkg is not available in the apt repository."
  exit 0 # exit early with success status to keep chezmoi idempotent
fi

echo "🚀 Installing $pkg version ${version} directly from apt"

# getting version
sudo apt install -qq -y $pkg >/dev/null 2>&1
# sudo apt autopurge -y $pkg


# TODO: add new choice to install flatpah UI
# https://flathub.org/pt-BR/apps/io.podman_desktop.PodmanDesktop
# https://podman-desktop.io/

{{ end -}}
