{{- /*

This file is render before everything, thus, you can't reference the
`.chezmoidata.yaml` file.

ALL CUSTOMS VARIABLES MUST BE HERE. You CANNOT USE PROMPTS INSIDE TEMPLATES
DIRECTLY.

See:
- https://www.chezmoi.io/reference/templates/variables/
- https://www.chezmoi.io/user-guide/command-overview/

*/ -}}

{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- /* If name was previously set, reuses it */ -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}

{{- $name := "Pedro Campos" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString " git name" $name -}}
{{- end -}}


{{- /* Does the same for the email */ -}}
{{- $email := "p.augustocampos@gmail.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString " git email" $email -}}
{{- end -}}


{{- /* Check if should load zsh configs */ -}}
{{- $loadZshConfigs := true -}}
{{- if hasKey . "loadZshConfigs" -}}
{{-   $loadZshConfigs = .loadZshConfigs -}}
{{- else if $interactive -}}
{{-   $loadZshConfigs = promptBool "⚙️ Load Zsh configs" $loadZshConfigs -}}
{{- end -}}


{{- /* Installation scripts selection */ -}}
{{- $allChoices := list
  "asdf"
  "bat"
  "bsdtar"
  "btop"
  "choose"
  "debug-tools"
  "diffstatic"
  "eza"
  "fd"
  "flatpak"
  "flatpak-fix-dark-theme"
  "fzf"
  "gum"
  "hyperfine"
  "just"
  "lazygit"
  "nvim"
  "perm"
  "pet"
  "podman"
  "procs"
  "rg"
  "sd"
  "shfmt"
  "sqlfluff"
  "starship"
  "tlrc"
  "xcp"
  "xpb"
  "zoxide"
  "zsh"
  "gitx"
-}}
{{- $defaultChoices := list
  "asdf"
  "bat"
  "bsdtar"
  "btop"
  "choose"
  "diffstatic"
  "eza"
  "fd"
  "fzf"
  "nvim"
  "perm"
  "pet"
  "rg"
  "sd"
  "tlrc"
  "xcp"
  "xpb"
  "zoxide"
  "gitx"
-}}
{{- $choices := promptMultichoice "󰯂 What should install (scripts to run)" $allChoices $defaultChoices -}}
{{- /* toRun: {{ $choices | toYaml | nindent 4 }} */ -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n\n" -}}
{{- end -}}

{{- writeToStdout "🛠️  For asdf, you need to install your plugins first, to then, use `asdf install`.\n\tCheck your `~/.tool-versions` file.\n" -}}

{{- if eq .chezmoi.os "darwin" -}}
{{- /*    🍎 macOS-specific code */ -}}
{{ else if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{- /*    🪟 WSL-specific code */ -}}
{{   else if eq .chezmoi.osRelease.id "debian" }}
{{- /*    🌱 Debian-specific code */ -}}
{{   else if eq .chezmoi.osRelease.id "fedora" }}
{{- /*    🎩 Fedora-specific code */ -}}
{{   else if eq .chezmoi.osRelease.id "fedora" }}
{{- /*    🐧 ubuntu-specific code */ -}}
{{-  end -}}
{{- end -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  configs:
    disable:
      zsh: {{ not $loadZshConfigs }}

  git:
    name: {{ $name | quote }}
    email: {{ $email | quote }}

  installDirs:
    main: /usr/local/bin
    home: {{ joinPath .chezmoi.homeDir ".local" "bin" }}

  scripts:
    {{ range $choices -}}
    {{.}}: true
    {{ end }}

