{{- /*

This file is render before everything, thus, you can't reference the
`.chezmoidata.yaml` file.

ALL CUSTOMS VARIABLES MUST BE HERE. You CANNOT USE PROMPTS INSIDE TEMPLATES
DIRECTLY.

*/ -}}


{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- /* If name was previously set, reuses it */ -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}

{{- $name := "Pedro Campos" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString "git name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}

{{- $email := "p.augustocampos@gmail.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "git email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

{{-   writeToStdout "⚙️ Once you install asdf, you need to install your plugins, to then, use `asdf install`.\n\tCheck your `.tool-versions` file.\n" -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  git:
    name: {{ $name | quote }}
    email: {{ $email | quote }}