[submodule "dot_config/shell/internal/plugins/zsh-syntax-highlighting"]
	path = dot_config/shell/internal/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "dot_config/shell/zinit"]
	path = dot_config/shell/zinit
	url = https://github.com/zdharma-continuum/zinit
