############################## load ZSH config
# Load Zinit for plugin management and configuration
source $HOME/.local/share/shell/init.zsh

############################# SSH Agent plugin config
#zstyle :zen:plugins:ssh-agent agent-forwarding yes
#zstyle :zen:plugins:ssh-agent lifetime 2h
#zstyle :zen:plugins:ssh-agent identities $HOME/.ssh/git
#zstyle :zen:plugins:ssh-agent quiet yes
#zinit ice wait"0a" lucid
#zinit light $ZEN/pkg/ssh-agent


{{ if has "asdf" .scripts -}}
############################## Cargo/rustup
. "$HOME/.cargo/env"

############################## pnpm (for node)
#PNPM_HOME="$HOME/.local/share/pnpm"
#PATH="$PNPM_HOME:$PATH"
{{ end -}}


{{- if has "bun" .scripts -}}
############################## bun (for node)
PATH="$PATH:$HOME/.bun/bin"
{{ end -}}
