
for pkg in "${pkgs[@]}"; do
	version=$(get_version $pkg)

	if [[ -z "$version" ]]; then
		echo "❌ Package $pkg not found in repositories."
		continue
	fi

	echo "🚀 Installing: ${pkg} $version"

	install_pkg $pkg
done
