get_version() {
  local pkg=$1

  {{- if eq .configs.os "deb" }}
    apt-cache policy $pkg | grep Candidate | awk '{print $2}'

  {{- else if eq .configs.os "dnf" }}
    arch=$(uname -m) # required for dnf

    if dnf -q list "$pkg.$arch" >/dev/null 2>&1; then
      # tries to check if it is using an unspecified arch
      dnf -q list "$pkg.$arch" | grep $pkg | awk '{print $2}'
    else
      dnf -q list "$pkg.noarch" | grep $pkg | awk '{print $2}'
    fi
  {{- end }}
}

install_pkg() {
  local pkg=$1

  if is_installed $pkg; then
    echo -e "\e[32m✅ Installed:\e[0m $pkg"
    return 0
  fi

  echo "🚀 Installing: ${pkg} $version"
  {{- if eq .configs.os "deb" }}
    sudo apt install -qq -y $pkg >/dev/null 2>&1
  {{- else if eq .configs.os "dnf" }}
    sudo dnf install -qy $pkg >/dev/null 2>&1
  {{- end }}
}

is_installed() {
  local pkg=$1

  {{- if eq .configs.os "deb" }}
    dpkg -s $pkg >/dev/null 2>&1
  {{- else if eq .configs.os "dnf" }}
    dnf list -q --installed | grep "^$pkg" >/dev/null 2>&1
  {{- end }}
}

update_package_list() {
  {{- if eq .configs.os "deb" }}
    sudo apt update -qq >/dev/null 2>&1
  {{- else if eq .configs.os "dnf" }}
    sudo dnf update --minimal -y >/dev/null 2>&1
  {{- end }}
}
